## Sound and Brightness COntrol
exec light -N 5
exec light -I
bindsym XF86MonBrightnessUp   exec "light -A 5 && light -O"
bindsym XF86MonBrightnessDown exec "light -U 5 && light -O"
bindsym $mod+F5 exec "light -U 10 && light -0"
bindsym $mod+F6 exec "light -A 10 && light -0"

bindsym --locked XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym --locked XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym --locked XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle

#bindsym $mod+F1 exec pactl set-sink-volume @DEFAULT_SINK@ -5%
#bindsym $mod+F2 exec pactl set-sink-volume @DEFAULT_SINK@ +5%
#bindsym $mod+F3 exec pactl set-sink-mute @DEFAULT_SINK@ toggle