layout {
	
    cwd "/home/nibe/SHOSAI/ringo"
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	// Gloab working directory
	//cwd "/home/nbertrand/SHOSAI/kaku"
	tab name="MAIN" split_direction="vertical" {
	    pane name="書く"
			
	
    }
	tab name="Archive" {
		pane name="書斎" edit="docs/writing/archive.bib"{
		}
	}

	tab name="Blingo" {
		pane name="blingo_書斎" edit="docs/writing/blingo.bib"{
		}
	}
	tab name="FILES"{
		pane name="ファイル" 
	}
	tab name="GIT" {
		pane name="ギット" command="gitui"
	}
}