layout {
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	// Gloab working directory
	cwd "/home/nbertrand/ASP/temp_logic-python"
	tab name="main" {
		pane name="tests" cwd="tests"
	}
	tab name="META" split_direction="vertical"{
		pane size="70%" name="mod-meta" cwd="meta" 
		pane size="30%" name="MetaMain" cwd="meta" edit="meta-telingo.lp"
	}
	tab name="gitui" {
		pane command="gitui"
	}
	tab name="WiSe" {	
		pane name="metaWiSe" cwd="/home/nbertrand/ASP/telingo-wise22-23-team0/tests/niko"
	}	
	tab name="Resources" split_direction="horizontal" {
		pane name="resources" cwd="/home/nbertrand/ASP/telingo-wise22-23-team0/resources/tests"
	}
}