layout {
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	// Gloab working directory
	cwd "/home/nibe/PROJECTS/telingo-wise22-23-team0"
	
	tab name="meta" {
		pane name="meta" cwd="/home/nibe/PROJECTS/telingo-wise22-23-team0/asprilo"
	}
	tab name="refs" {
		pane name="data" cwd="/home/nibe/PROJECTS/temp_logic-python"
	}	
	tab name="gitui" {
		pane command="gitui"
	}
	tab name="tests" {
		pane name="tests" cwd="/home/nibe/PROJECTS/telingo-wise22-23-team0/tests"
	}	
}