layout {
	default_tab_template {
       children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	// Gloab working directory
	
	tab name="すいせい" {
		
    	pane name="コード" cwd="~/PROJECTS/exercism" 
		
	}
	
	tab name="ジット" {
		pane name="ジット" cwd="~/PROJECTS/exercism" command="gitui"

	}
}
