layout {
	
    cwd "/home/nbertrand/ASP/thesis-prep"
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	tab name="MAIN" {
	    pane name="書く"
			
	
    }
	tab name="FILES" split_direction="vertical" {
			pane size="50%" name="残酷の" command="broot"
			pane size="50%" name="ひより" cwd="/home/nbertrand/SHOSAI/hiyori" command="broot"
	}
	tab name="GIT" {
		pane name="ギット" command="gitui"
	}
}