layout {
	
    cwd "~/PROJECTS/clinOTA"
	default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	tab name="CLINOTA" {
	    pane name="encoding"
    }
	tab name="ファイル" split_direction="vertical" { 
			pane name="🍎" cwd="~/PROJECTS/clinOTA/literature" command="broot" 
	}
	tab name="ギット" {
		pane name="ギット" command="gitui"
	}
	tab name="書く"{
		pane name="論文" cwd="~/PROJECTS/clinOTA/thesis"
	}
	
}
