layout {
	
    cwd "/home/nibe/PROJECTS/MARP-ASP"
	default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	tab name="第１" {
	    pane name="書く"
    }
	tab name="ファイル" split_direction="vertical" { 
			pane name="🍎" cwd="/home/nibe/SHOSAI/ringo" command="broot" 
	}
	tab name="ギット" {
		pane name="ギット" command="gitui"
	}
	tab name="書く"{
		pane name="論文" cwd="/home/nibe/SHOSAI/ringo"
	}
	
}
