layout {
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
	// Gloab working directory
	cwd "/home/nbertrand/SHOSAI/jinsei"
	tab name="NOTES" split_direction="vertical" {
		pane size="20%" name="ソトライダー" {
			plugin location="zellij:strider"
		}
       	pane size="80%" name="ノート" cwd="notes" command="fx"
		
    }
	tab name="PDF" {
		pane name="ファイル" cwd="pdf" command="fx"
	}
	tab name="GIT" {
		pane name="ギット" command="gitui"
	}
}