layout {
	
    cwd "/home/nbertrand/SHOSAI/kaku"
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
	// Gloab working directory
	//cwd "/home/nbertrand/SHOSAI/kaku"
	tab name="MAIN" split_direction="vertical" {
	    pane name="쓰기"
			
	
    }
	tab name="BIB" {
		pane name="書斎" edit="archive.bib"{
		}
	}
	tab name="FILES"{
		pane name="ファイル" command="fx"
	}
	tab name="GIT" {
		pane name="ギット" command="gitui"
	}
}