themes {
    kanagawa {
        fg "#DCD7BA"
        bg "#1F1F28"
        red "#C34043"
        green "#717C7C"// green "#76946A"
        yellow "#FF9E3B"
        blue "#7E9CD8"
        magenta "#957FB8"
        orange "#E46876" //  original orange "#FFA066" but makes compact bar unreadable
        cyan "#7FB4CA"
        black "#16161D"
        white "#DCD7BA"
    }
}	