keybinds clear-defaults=true {
    locked { 
        bind "F4" { SwitchToMode "Normal";}
            
    }
    normal { 
        // Pane and Tab creation and closure
        bind "Alt w" { NewPane "Right";}
        bind "Alt W" { NewPane "Down";}
        bind "Alt t" { NewTab;}
        bind "Alt q" { CloseFocus;}
        bind "Alt Q" { CloseTab;}
        // Float + Fullscreen
        bind "Alt /" {ToggleFloatingPanes;}
        bind "Alt ?" { ToggleFocusFullscreen;}   
        //Pane / Tab Switcheroo 
        
        bind "Alt =" { SwitchFocus; }
        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }              
        //Session
        bind "F5" { Detach; }
    }
    tmux {
    
        bind "の" { Run "hx" "/home/nbertrand/SHOSAI/jinsei" ; SwitchToMode "Normal"; }
        bind "じ" { Run "fx" "/home/nbertrand/SHOSAI/jinsei/pdf" ; SwitchToMode "Normal";}    
       
        bind "/" { Run "bat" "/home/nbertrand/ZGMF-X20A/zellij/config.kdl";}       
    } 
    pane {
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }  
        //Move 
        bind "n" "Tab" { MovePane; }
        bind "Ctrl h" { MovePane "Left"; }
        bind "Ctrl j" { MovePane "Down"; }
        bind "Ctrl k" { MovePane "Up"; }
        bind "Ctrl l" { MovePane "Right"; }
        //customize
        bind "z" { TogglePaneFrames; SwitchToMode "Normal";}
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }  
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; } /// WHAT DOES IT DO????yc
        bind "p" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "t" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "m" { ToggleMouseMode;}
     } 
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "b" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }        
        bind "u" { HalfPageScrollUp; }
    } 
    search {
        bind "b" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    } 
    entersearch clear-defaults=true {
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    } 
    renametab clear-defaults=true {
        bind "Esc" {SwitchToMode "Pane";}
        bind "Enter" { SwitchToMode "Normal"; }
    }
    renamepane clear-defaults=true {
        bind "Esc" {SwitchToMode "Pane";}
        bind "Enter" { SwitchToMode "Normal"; }
    }
    // Switch Modes and Shared Bindings
    shared_except "Normal" "locked" "entersearch" {
        bind "Esc" {SwitchToMode "Normal";}
    }
    shared_except "locked" "entersearch" {
        bind "F5" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }    
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }
    shared_except "Normal" "locked" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "search" "locked" {
        bind "F2" { SwitchToMode "Search"; }
    }
    shared_except "scroll" "locked" {
        bind "F1" { SwitchToMode "Scroll"; }
    }
    shared_except "tmux" "locked" {
        bind "F4" { SwitchToMode "Tmux"; }
    }
    shared_except "pane" "locked" {
        bind "F3" { SwitchToMode "Pane";}
    }
}
plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
on_force_close "detach" // or quit when SIGTERM, SIGINT, SIGQUIT SIGHUP
simplified_ui false // true
default_shell "zsh"
pane_frames true // true
theme "kanagawa"
default_layout "futsu"
default_mode "Normal"
mouse_mode true // true (default)
scroll_buffer_size 10000
// copy_command "xclip -selection clipboard" // x11
//copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
//copy_clipboard "primary" // system (default)
// copy_on_select false // true
// scrollback_editor "/usr/bin/vim" //default : $EDITOR or $VISUAL
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// mirror_session true // default false
// layout_dir "~/.config/zellij/layout"
theme_dir "~/.config/zellij/themes"
