// KEYBINDINGS FILE FOR ZELLIJ
    // Lock Zellij
    locked {
        bind "Ctrl l" { SwitchToMode "Normal"; }
        
    }
    normal  {
        // Pane and Tab creation and closure
        bind "Alt w" { NewPane "Right";}
        bind "Alt W" { NewPane "Down";}
        bind "Alt t" { NewTab;}
        bind "Alt q" { CloseFocus;}
        bind "Alt Q" { CloseTab;}

        // Float + Fullscreen
        bind "Alt f" {ToggleFloatingPanes;}
        bind "Alt F" { ToggleFocusFullscreen;}
        
        // Pane focus Switch 
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt p" { SwitchFocus; }

        // Tab Switcheroo
        bind "Alt H" "Alt K" { GoToPreviousTab; }
        bind "Alt L" "Alt J" { GoToNextTab; }        
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        //Session
        bind "Alt d" { Detach; }
        //bind "Alt Delete" { Quit; }
        bind "Alt m" { ToggleMouseMode; }

           }

   // Resize Menu
    session {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        
        //Move 
        bind "n" "Tab" { MovePane; }
        bind "Alt h" { MovePane "Left"; }
        bind "Alt j" { MovePane "Down"; }
        bind "Alt k" { MovePane "Up"; }
        bind "Alt l" { MovePane "Right"; }

        //customize
        bind "Alt z" { TogglePaneFrames;}
        bind "Alt e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }  
        bind "Alt s" { ToggleActiveSyncTab; SwitchToMode "Normal"; } /// WHAT DOES IT DO????yc

        
        bind "Alt p" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "Alt t" { SwitchToMode "RenameTab"; TabNameInput 0; }
        
    }
    scroll {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "b" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }        
        bind "u" { HalfPageScrollUp; }
    }
    search {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "b" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch clear-defaults=true {
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab clear-defaults=true {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane clear-defaults=true {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }


    // Switch Modes and Shared Bindings
    shared_except "locked" {
        bind "Ctrl l" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }
    shared_except "Normal" "locked" {
        bind "Esc" "Alt Down" { SwitchToMode "Normal"; }
    }
    shared_except "search" "locked" {
        bind "Alt Right" { SwitchToMode "Search"; }
    }
    shared_except "scroll" "locked" {
        bind "Alt Left" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "locked" {
        bind "Alt Up" { SwitchToMode "Session"; }
    }
}

